* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

.justify-content-center {
  justify-content: center;
}

html {
  font-size: 16px;
}

body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background: url('/imgs/background.jpg');
  background-attachment: fixed;
  color: aliceblue;
}

/* Header */
h1 {
  font-size: 4rem;
}

.blue {
  text-shadow: 
      0 0 5px #7bacff,
      0 0 10px #7bacff,
      0 0 20px #7bacff,
      0 0 40px #7bacff,
      0 0 80px #7bacff,
      0 0 90px #7bacff,
      0 0 100px #7bacff,
      0 0 150px #7bacff;
}

/* New Movie Form */
form {
  margin: 2rem;
  font-size: 1.5rem;
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

abbr {
  color: red;
}

/* Movie Table */
.table-wrapper {
  width: 80%;
  margin: 1.875rem auto;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 1.25rem;
}

table {
  table-layout: fixed;
}

table tr th,
table tr td {
  border-color: #e9e9e9;
  color: aliceblue;
}

table.table th:nth-child(2) {
  width: 6.25rem;
  text-align: center;
}

table.table th:last-child {
  width: 6.25rem;
  text-align: center;
}

td:last-child {
  text-align: center;
}

td:nth-child(2) {
  text-align: center;
}
